//variables
$theme: "dark";
$main-color: #170148;
$main-color2: #004bd6;
// $main-color: #7400b8;
// $main-color2: #2196f3;
//$main-color2: #335eea;
$color-Gaar: #42ba96;
$bg-main: #fff;
$title-color: #506690;
$qoraalo-color: #869ab8;
$hoverbtn: #173aab;
$btn_gaar: #335eea1a;
$madaw: #515151;
$prog_color: #335eea32;
$color_over: #1b2a4ebd;
$colose_color: #d02401;

// @font-face {
//   font-family: "font";
//   src: url(../../public/fonts/Roboto-Regular.ttf);
// }

// all mixins
@mixin linearGradient {
  background-image: linear-gradient(360deg, #004bd6, #170148);
}

@mixin reset_form($size, $color, $mrtb) {
  padding-left: 15px;
  padding-right: 15px;
  @include qoraal-p($size, $color);
  margin: $mrtb 0px;
  border: none;
  outline: none;
}

@mixin Shadaw_buttom {
  box-shadow: 0px 0px 12px 0px #d7d7d7a7;
}

@mixin dyshadow($kaw, $laba, $sadex, $afar) {
  box-shadow: $kaw $laba $sadex $afar #d7d7d7a7;
}
@mixin qoraal-p($size, $color) {
  font-size: $size;
  color: $color;
  letter-spacing: 1.5;
  line-height: 1.6;
}

@mixin Totile-H($size, $color) {
  font-size: $size;
  color: $color;
  letter-spacing: 1.5;
  line-height: 1.6;
}

@mixin btn-web($Dherer) {
  width: $Dherer;
  height: 55px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  color: $bg-main;
  font-size: 16px;
  background-color: $main-color2;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  &:hover {
    background-color: $hoverbtn;
    transition: all 0.4s ease-in-out;
    transform: translate(0px, 5px);
  }
}

@mixin flex-box($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap $dir;
  text-transform: capitalize;
}
@mixin dynamic-flex($js, $at, $dir, $dhex) {
  display: flex;
  justify-content: $js;
  align-items: $at;
  flex-flow: wrap $dir;
  gap: $dhex;
  text-transform: capitalize;
}

@mixin Break-Points($Point) {
  @if ($Point == xsm) {
    @media (min-width: 200px) and (max-width: 576px) {
      @content;
    }
  } @else if($Point == sm) {
    @media (min-width: 576px) and (max-width: 768px) {
      @content;
    }
  } @else if($Point == md) {
    @media (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  } @else if($Point == lg) {
    @media (min-width: 992px) and (max-width: 1200px) {
      @content;
    }
  } @else if($Point == xlg) {
    @media (min-width: 1200px) and (max-width: 1400px) {
      @content;
    }
  } @else if($Point == xxlg) {
    @media (min-width: 1400px) {
      @content;
    }
  }
}

// placeholders

%Gradient {
  background-image: linear-gradient(360deg, #004bd6, #170148);
}

%reset-ul {
  position: relative;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-transform: capitalize;
    list-style: none;

    a {
      text-decoration: none;
      width: 100%;
      display: block;
      text-transform: capitalize;
    }
  }
}

%reset-link {
  text-decoration: none;
  width: 100%;
  display: block;
  height: 100%;
}

%reset-link_in {
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

%over_velow_elm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%over_vallow_set {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $color_over;
  z-index: 9999;
  top: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(12px);
  -moz-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  overflow: hidden;
  visibility: hidden;
  @include dynamic-flex(center, center, column, 0px);
}

%colse_btn {
  width: 25px;
  height: 25px;
  background-color: $colose_color;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 99999;
  cursor: pointer;
  color: $bg-main;
  @include dynamic-flex(center, center, column, 0px);
}

// controll if else

* {
  scrollbar-color: #002d97 #ffffff;
  scrollbar-width: thin;
}

// html {
//   scroll-behavior: smooth;
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: $main-color;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
// ::-webkit-scrollbar-thumb {
//   background:linear-gradient(90deg,$main-color2,$bg-main) !important;
// }

::-webkit-scrollbar-thumb {
  @include linearGradient();
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @include linearGradient();
}

.haye {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.xajiye {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

// nav
div.nav {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  // @include Shadaw_buttom();
  &.hoos {
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    @include linearGradient();
  }
  div.links {
    width: 100%;
    height: 100px;
    @include dynamic-flex(center, center, row, 0px);
    div.logo {
      flex: 1;
      @include flex-box(column);
      height: 100%;
      border: none;
      overflow: hidden;
      a {
        @extend %reset-link;
        @include dynamic-flex(center, center, row, 0px);
      }
      p {
        @include qoraal-p(1rem, $main-color2);
        &.hoos_ac {
          color: $bg-main;
        }
        font-weight: normal;
        i {
          color: $main-color2;
        }
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    div.link-items {
      flex: 4;
      @extend %reset-ul;
      @include dynamic-flex(center, center, column, 0px);
      height: 100%;
      ul {
        width: 100%;
        height: 100%;
        @include dynamic-flex(flex-end, center, row, 20px);
        @include qoraal-p(16px, $qoraalo-color);

        li {
          @include qoraal-p(16px, $qoraalo-color);
          height: 100%;
          @include dynamic-flex(center, center, column, 0px);
          cursor: pointer;
          font-weight: 500;
          transition: all 0.4s ease-in-out;
          i.fa-chevron-down {
            font-size: 12px;
            font-weight: bold;
          }
          &:hover {
            color: $main-color2;
          }
          a {
            @include dynamic-flex(center, center, column, 0px);
            @include qoraal-p(16px, $qoraalo-color);
            height: 100%;
            padding: 15px;
            font-weight: 500;
            transition: all 0.4s ease-in-out;
            &:hover {
              color: $main-color2;
            }
          }
        }
      }
    }

    div.Mobilee {
      display: none;
      flex: 1;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-flow: wrap column;
      gap: 0px;
      text-transform: capitalize;
      .tips_mobile {
        width: 50px;
        height: 50px;
        //background-color: $main-color2;
        border-radius: 7px;
        border: solid 0.5px $main-color2;
        @include flex-box(0px);
        font-size: 25px;
        color: $main-color2;
        cursor: pointer;
      }
    }

    div.Mobile {
      @include linearGradient();
      height: 100vh;
      position: absolute;
      top: 80px;
      width: 100%;
      li {
        @include qoraal-p(16px, $bg-main);
        height: 100%;
        @include dynamic-flex(flex-start, center, row, 0px);
        cursor: pointer;
        font-weight: 500;
        transition: all 0.4s ease-in-out;
        margin: 13px 30px;
        font-size: 20px;
        i.fa-chevron-down {
          font-size: 12px;
          font-weight: bold;
        }

        &:hover {
          color: $main-color2;
        }

        a {
          @include dynamic-flex(center, center, column, 0px);
          @include qoraal-p(16px, $bg-main);
          height: 100%;
          padding: 15px;
          font-weight: 500;
          transition: all 0.4s ease-in-out;
          text-decoration: none;
          i {
            font-size: 20px;
            color: $color-Gaar;
          }
          &:hover {
            color: $main-color2;
          }
        }
      }
    }
    div.action-btn {
      flex: 2;
      height: 100%;
      @include dynamic-flex(center, center, column, 0px);
    }

    button.nav-btn {
      &.out {
        @include btn-web(50%);
      }
      &.mb {
        color: $bg-main;
        border: solid 1px $main-color2;
        background-color: transparent;
        font-size: 1.1rem;
      }
      @include btn-web(70%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap;
      color: $bg-main;
      // border: solid 1px $main-color2;
      background-color: transparent;
      font-size: 1.1rem;
      &:hover {
        background-color: transparent;
        color: $madaw;
        // border: solid 1px $madaw;
      }
      span.user_image {
        width: 40px;
        height: 40px;
        margin: 5px;
        background-color: $main-color;
        border-radius: 50%;
        border: solid 3px #ffffffd9;
        overflow: hidden;
        div {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          img {
            position: relative !important;
          }
        }
      }
      a {
        @extend %reset-link;
        @include dynamic-flex(center, center, column, 0px);
        span {
          color: $bg-main;
        }
      }
    }
  }
}

// homepage welcome
div.welcome {
  width: 100%;
  height: 100%;
  //margin-bottom: 80px;
  padding: 75px 10px;
  @if ($theme == "light") {
    @include linearGradient();
  } @else {
    @include linearGradient();
  }
  div.labaqaybood {
    width: 100%;
    height: 100%;
    @include dynamic-flex(center, center, row, 10px);
    div.qayb {
      width: calc(95% / 2);
      &.qorall {
        height: 100%;
        padding: 10px;
        font-weight: normal;
        h2 {
          letter-spacing: 0.2;
          @if ($theme == "light") {
            @include Totile-H(2.7rem, $madaw);
          } @else {
            @include Totile-H(2.7rem, $bg-main);
          }

          font-weight: normal;
          margin-top: 85px;
          line-height: 1.5;
          span {
            color: $bg-main;
          }
        }

        p {
          @include qoraal-p(20px, $qoraalo-color);
          line-height: 1.6;
          margin: 25px 0px;
          font-weight: normal;
        }

        div.btn-welc {
          width: 100%;
          height: 100%;
          padding: 40px 5px;
          @include dynamic-flex(flex-start, center, row, 10px);
          button {
            @include btn-web(40%);
            a {
              @extend %reset-link;
              @include dynamic-flex(center, center, column, 0px);
              span {
                color: $bg-main;
              }
            }
          }
          button.Xaqiijin {
            background-color: $qoraalo-color;
            color: $main-color;
            font-weight: normal;
            &:hover {
              @include Shadaw_buttom();
              transition: all 0.4s ease;
            }

            a {
              @extend %reset-link;
            }
          }
        }
      }
    }

    div.qayb {
      &.sawir {
        height: 100%;
        //background-color: $madaw;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: relative !important;
        }
      }
    }
  }
}

// tirokoobyo

section.tirokoobyo {
  width: 100%;
  height: 100%;
  margin: 10px 0px;
  padding: 15px 0px;
  div.cards_tirokoob {
    width: 100%;
    height: 100%;
    @include dynamic-flex(center, center, row, 35px);
    div.card {
      width: calc(90% / 3);
      div.icon {
        width: 100%;
        padding: 10px 0px;
        svg {
          width: 14%;
          height: 100%;
        }
      }
      div.qoraal {
        h2 {
          @include Totile-H(22px, $madaw);
          padding: 10px 0px;
          font-weight: normal;
          i {
            color: $color-Gaar;
          }
          span.Tirokoob_titels {
            color: $main-color2;
          }
        }

        p {
          @include qoraal-p(16px, $qoraalo-color);
        }
      }
    }
  }
}

// slide companes
div.slide {
  margin: 20px 0px;
  padding: 10px 0px;
  div.haye {
    div.comp {
      height: 150px;
      overflow: hidden;
      padding: 10px 10px;
      div.shay {
        @include dynamic-flex(center, center, column, 0px);
        height: 100%;
        border-radius: 7px;
        img {
          width: 120px;
          object-fit: cover;
          &.wayn {
            width: 80px;
          }
          &.yar {
            width: 100%;
          }
        }
      }
    }
  }

  .carousel-next {
    &:before {
      background-image: url("/Images/arrow-right-solid.svg");
    }
  }

  .carousel-prev {
    &:before {
      background-image: url("/Images/arrow-left-solid.svg");
    }
  }

  .carousel-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: $btn_gaar;
    border-radius: 50%;
    color: $bg-main;
  }
}

// ayad
div.ayad {
  width: 100%;
  height: 125px;
  background-color: $main-color2;
  @include dynamic-flex(center, center, column, 0px);
  user-select: none;
  &.in_info {
    background-color: $bg-main;
    border-radius: 7px;
    height: 60px;
  }
  div.nas_ayad {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    @include dynamic-flex(center, center, column, 0px);
    user-select: none;
  }
}

// Projects
div.Projects {
  width: 100%;
  height: 100%;
  margin: 25px 0px;
  h2.pro_title {
    @include Totile-H(22px, $main-color2);
    padding: 20px 50px;
  }
  div.qaybha {
    width: 100%;
    height: 100%;
    position: relative;
    @include dynamic-flex(center, center, row, 10px);
    div.qayb {
      height: 50px;
      width: calc(95% / 5);
      @include dynamic-flex(center, center, row, 0px);
      //background-color: $main-color;
      border-radius: 2px;
      cursor: pointer;
      //@include dyshadow(1px ,1px, 6px, 2px);
      border-radius: 3px;
      //border-bottom: solid 1px $main-color2;
      transition: all 0.4s ease;
      border: solid 1.5px $bg-main;
      div.icon_Q {
        width: 100%;
        height: 100%;
        padding: 0px 0px;
        a {
          @extend %reset-link;
          @include dynamic-flex(center, center, row, 0px);

          &.active {
            background-color: $main-color2;
            //border-bottom: solid 1.5px $main-color2;
            transition: all 0.4s ease;
            border-radius: 5px;
            p {
              color: $bg-main;
              transition: all 0.4s ease;
              i {
                color: $main-color;
                transition: all 0.4s ease;
              }
            }
          }
        }
      }

      &:hover {
        background-color: $main-color2;
        transition: all 0.4s ease;
        border-radius: 5px;
        p {
          color: $bg-main;
          transition: all 0.4s ease;
          i {
            color: $bg-main;
            transition: all 0.4s ease;
          }
        }
      }
      p {
        @include qoraal-p(17px, $madaw);
        i {
          color: $main-color2;
          font-size: 25px;
        }
      }
    }
  }

  div.prog_one {
    width: 100%;
    height: 100%;
    //background-color: $color-Gaar;
    @include dynamic-flex(center, center, row, 15px);
    margin: 20px 0px;
    padding: 50px 0px;
    div.card_mashruuc {
      margin: 5px 0px;
      padding: 10px 10px;
      width: calc(95% / 3);
      height: 100%;
      background-color: $bg-main;
      @include dyshadow(0px, 0px, 12px, 0px);
      border-radius: 3px;
      // border-bottom: solid 2.50px $main-color2;
      // border-top: solid 2.50px $main-color2;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      position: relative;
      &:hover {
        //transform: translate(0px,18px);
        transition: all 0.4s ease-in-out;
        div.img_or_vid {
          div.over_verlow_video {
            transform: translate(0px, 0px);
          }
        }
      }
      div.img_or_vid {
        width: 100%;
        height: 200px;
        background-color: $madaw;
        overflow: hidden;
        @include dyshadow(0px, 0px, 12px, 0px);
        background-color: $bg-main;
        border-radius: 5px;
        position: relative;
        z-index: 11;
        div.over_verlow_video {
          @extend %over_velow_elm;
          background-color: $color_over;
          z-index: 1;
          border-radius: 5px;
          transform: translate(0px, 0px);
          transition: all 0.6s ease-in-out;
          @include flex-box(column);
          div.hadaf_and_asal {
            @include dynamic-flex(space-evenly, center, row, 20px);
            height: 100%;
            @include qoraal-p(20px, $bg-main);

            // div.Asal {
            // background-color: $main-color2;
            // border-radius: 15px;
            // padding: 0px 3px;
            // }

            // div.Hadaf{
            // background-color: $main-color2;
            //   border-radius: 15px;
            //   padding: 0px 3px;
            // }
            // p.lcg{
            //   width: calc(60% / 1);
            // }
            i {
              color: $bg-main;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      div.desc {
        width: 100%;
        padding: 5px 0px;
        h2 {
          @include Totile-H(20px, $title-color);
          font-weight: normal;
          padding: 5px 5px;
          // &:hover {
          //   color: $main-color2;
          //   text-decoration: underline;
          //   cursor: pointer;
          // }
        }

        p {
          @include qoraal-p(17px, $qoraalo-color);
          padding: 5px 5px;
        }
      }
      div.progress {
        width: 95%;
        height: 15px;
        background-color: $prog_color;
        margin: 10px 15px;
        border-radius: 7px;
        overflow: hidden;
        span {
          height: 100%;
          display: block;
          background-color: $main-color2;
          @include dynamic-flex(center, flex-end, column, 0px);
          color: $bg-main;
          font-size: 13px;
          font-weight: bold;
          border-radius: 7px;
          span {
            width: 35px;
            height: 35px;
            background-color: $main-color2;
            border-radius: 50%;
            position: absolute;
            border: solid 2px $bg-main;
          }
        }
      }
      div.lacagta {
        width: 100%;
        margin: 10px 0px;
      }
      div.btn_tabaruc {
        width: 100%;
        height: 100%;
        @include flex-box(column);
        padding: 10px 0px;
        button.Daawo {
          @include btn-web(95%);
          border-radius: 7px;
          height: 50px;

          a {
            @extend %reset-link;
            @include flex-box(column);

            span {
              color: $bg-main;
            }
          }
        }
      }

      div.hadaf_and_asal {
        @include dynamic-flex(space-evenly, center, row, 20px);
        height: 100%;
        @include qoraal-p(20px, $qoraalo-color);

        // div.Asal {
        // background-color: $main-color2;
        // border-radius: 15px;
        // padding: 0px 3px;
        // }

        // div.Hadaf{
        // background-color: $main-color2;
        //   border-radius: 15px;
        //   padding: 0px 3px;
        // }
        // p.lcg{
        //   width: calc(60% / 1);
        // }
        i {
          color: $color-Gaar;
        }
      }
    }
  }
}

div.empaty {
  width: 100%;
  height: 100%;
  //background-color: $main-color2;
  @include flex-box(column);

  div.sawir {
    width: 100%;
    img {
      width: 100%;
      height: 350px;
      position: relative !important;
    }
    svg {
      width: 80%;
    }
  }

  p {
    @include qoraal-p(1.5rem, $main-color2);
    font-weight: normal;
  }
}

// about

div.about {
  width: 100%;
  height: 100%;
  margin: 35px 0px;
  div.war_laba_qaybood {
    width: 100%;
    height: 100%;
    @include dynamic-flex(space-between, center, row, 0px);
    div.qayb {
      width: calc(97% / 2);
      &.bidix {
        div.bidix_decr {
          width: 100%;
          height: 100%;
          padding: 15px 0px;
          h2 {
            @include Totile-H(2.3rem, $madaw);
            font-weight: normal;
            span {
              color: $main-color2;
            }
          }

          p {
            @include qoraal-p(20px, $qoraalo-color);
            font-weight: normal;
            margin: 5px 0px;
            padding: 5px 0px;
          }
        }
        div.warbixinta {
          width: 100%;
          height: 100%;
          div.war {
            width: 100%;
            height: 100%;
            margin: 15px 0px;
            padding: 15px 0px;
            @include dynamic-flex(center, center, row, 0px);
            div.icon_sawir {
              height: 80px;
              padding: 15px 0px;
              @include dynamic-flex(flex-start, center, column, 0px);
              flex: 1;
              svg {
                width: 100%;
                height: 80%;
              }
            }

            div.qoraal_war {
              flex: 6;
              h2 {
                @include Totile-H(1.2rem, $madaw);
                font-weight: normal;
              }

              p {
                @include qoraal-p(17px, $qoraalo-color);
              }
            }
          }
        }
      }
      &.midig {
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transform: rotateY(-35deg) rotateX(15deg);
          position: relative !important;
        }
      }
    }
  }
}

div.Counts {
  width: 100%;
  height: 100%;
  margin: 35px 0px;
  background-color: $btn_gaar;
  position: relative;
  overflow: hidden;
  padding-top: 5%;
  div.wave {
    width: 100%;
    height: 250px;
    top: 0;
    overflow: hidden;
    //background-color: #002d97;
    background-image: url("/Images/wave_02.svg");
    background-size: cover;
  }
  div.war_laba_qaybood {
    width: 100%;
    height: 100%;
    @include dynamic-flex(space-between, center, row, 0px);
    div.qayb {
      width: calc(97% / 2);
      &.bidix {
        div.bidix_decr {
          width: 100%;
          height: 100%;
          padding: 15px 0px;
          h2 {
            @include Totile-H(2.3rem, $madaw);
            font-weight: normal;
            span {
              color: $main-color2;
            }
          }

          p {
            @include qoraal-p(20px, $qoraalo-color);
            font-weight: normal;
            margin: 5px 0px;
            padding: 5px 0px;
          }
        }
        div.warbixinta {
          width: 100%;
          height: 100%;
          div.war {
            width: 100%;
            height: 100%;
            margin: 15px 0px;
            padding: 15px 0px;
            @include dynamic-flex(center, center, row, 0px);
            div.icon_sawir {
              height: 80px;
              padding: 15px 0px;
              @include dynamic-flex(flex-start, center, column, 0px);
              flex: 1;
              svg {
                width: 100%;
                height: 80%;
              }
            }

            div.qoraal_war {
              flex: 6;
              h2 {
                @include Totile-H(1.2rem, $madaw);
                font-weight: normal;
              }

              p {
                @include qoraal-p(17px, $qoraalo-color);
              }
            }
          }
        }
      }
      &.midig {
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          position: relative !important;
          //transform: rotateY(-35deg) rotateX(15deg);
        }
      }
    }
  }
}

// video
div.h_video {
  @include dynamic-flex(center, center, column, 0px);
  width: 100%;
  height: 100%;
  visibility: visible;
}
div.video {
  width: 100%;
  padding: 5px 5px;
  background-color: $bg-main;
  border-radius: 7px;
  @include dynamic-flex(center, center, column, 0px);
  @include dyshadow(0px, 0px, 12px, 0px);
  div.video_content {
    width: 98%;
    height: 98%;
    background-color: $main-color2;
    padding-bottom: 0px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    div.close_video {
      @extend %colse_btn;
    }
  }
}

// faq

div.faq {
  width: 100%;
  height: 100%;
  margin: 50px 0px;
  padding: 20px 0px;
  padding-top: 0px;
  background-color: $bg-main;
  div.wave_02 {
    width: 100%;
    //position: absolute;
    top: 0;
    height: 200px;
    //background-color: #029f70;
    background-image: url("/Images/wave_03.svg");
    background-size: cover;
  }

  div.suaalo {
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    @include dynamic-flex(center, center, row, 0px);
    div.labaqayb {
      width: calc(100% / 2);
      height: 100%;
      padding: 25px 0px;
      //background-color: #029f70;
      @include dynamic-flex(center, center, column, 20px);
      div.hal_dhinac {
        width: 100%;
        height: 100%;
        //background-color: #029f70;
        padding: 10px 0px;
        @include dynamic-flex(center, center, row, 0px);
        div.icon_bes {
          height: 80px;
          flex: 1;
          //background-color: $main-color2;
          color: $main-color2;
          @include dynamic-flex(center, flex-start, row, 0px);
          font-size: 1.6rem;
        }
        div.qoraal {
          flex: 6;
          h2 {
            @include Totile-H(1.1rem, $madaw);
            font-weight: normal;
          }

          p {
            @include qoraal-p(16px, $qoraalo-color);
            font-weight: normal;
          }
        }
      }
      div.qayb_suaal {
        width: 100%;
        height: 100%;
        padding: 5px 0px;
        @include dynamic-flex(center, center, column, 20px);
      }
    }

    div.btn_start {
      width: 80%;
      height: 100%;
      padding: 25px 0px;
      @include dynamic-flex(center, center, column, 15px);
      div.qoraalo_btn_start {
        @include dynamic-flex(center, center, column, 15px);
        h2 {
          @include Totile-H(1.7rem, $madaw);
          font-weight: normal;
        }

        p {
          @include qoraal-p(16px, $qoraalo-color);
          font-weight: normal;
          text-align: center;
          padding: 5px 45px;
        }
      }
      button {
        @include btn-web(35%);
        background-color: $color-Gaar;
        &:hover {
          background-color: #029f70;
        }
      }
    }
  }
}

// foote

div.footer {
  width: 100%;
  height: 100%;
  margin: 25px 0px;
  margin-bottom: 0px;
  @include linearGradient();
  padding: 30px 0px;
  div.footer_contenet {
    width: 100%;
    height: 100%;
    padding: 25px 0px;
    @include dynamic-flex(center, center, column, 22px);
    div.logo {
      flex: 2;
      @include flex-box(column);
      height: 100%;
      border: none;
      img {
        width: 50px;
        height: 50px;
      }
      a {
        @extend %reset-link;
        @include dynamic-flex(center, center, row, 0px);
      }

      p {
        @include qoraal-p(1rem, $bg-main);
        font-weight: normal;

        i {
          color: $main-color2;
        }
      }
    }

    div.q_footer {
      p {
        @include qoraal-p(17px, $bg-main);
        a {
          @extend %reset-link;
          width: fit-content;
          display: inline;
          color: $color-Gaar;
        }
      }
    }
  }
}

// login
div.over {
  @extend %over_vallow_set;
  @include dynamic-flex(center, center, column, 0px);
  div.inhaye {
    @include dynamic-flex(center, center, column, 0px);
    overflow: hidden;
    border-radius: 10px;
  }
  &.active {
    visibility: visible;
  }

  div.login {
    width: 70%;
    height: 100%;
    background-color: $bg-main;
    border-radius: 10px;
    @include dynamic-flex(center, center, row, 10px);
    padding: 15px 0px;
    div.llc {
      height: 100%;
      width: calc(95% / 2);
      //background-color: $madaw;
      @include dynamic-flex(center, center, row, 0px);
      &.bidix_login {
        img {
          width: 100%;
          object-fit: cover;
          position: relative !important;
        }
      }

      &.midig_login {
        //background-color: $colose_color;
        @include dynamic-flex(center, center, column, 0px);
        position: relative;
        div.close {
          @extend %colse_btn;
          background-color: $main-color2;
          i {
            color: $bg-main;
          }
        }
        .from {
          width: 100%;
          height: 100%;
          //background-color: $main-color;
          @include dynamic-flex(center, center, column, 0px);
          div.dhinac_l {
            width: 100%;
            padding: 5px 0px;
            //background-color: $color-Gaar;
            @include dynamic-flex(center, center, column, 0px);

            h2 {
              @include Totile-H(2rem, $madaw);
              font-weight: normal;
            }
            p {
              @include qoraal-p(16px, $qoraalo-color);
              font-weight: normal;
              &.Error {
                color: $colose_color;
                font-size: 19px;
              }
            }

            &.inputs_login {
              //background-color: $color-Gaar;
              input {
                @include reset_form(17px, $main-color, 10px);
                font-weight: normal;
                height: 55px;
                width: 85%;
                border: solid 1px #335eea29;
                border-radius: 7px;
                &:focus {
                  border: solid 1px $main-color2;
                }
              }

              button {
                @include btn-web(85%);
                margin: 5px 0px;
                &.Google {
                  background-color: $colose_color;
                  // border: solid 1px $main-color2;
                  color: $bg-main;
                }
              }

              p.Bilaa_akoon {
                margin-top: 15px;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}

// alert_payments

div.over_alert {
  //@extend %over_vallow_set;
  @include flex-box(column);
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  height: 195px;
  background-color: $bg-main;
  // backdrop-filter: blur(12px);
  // @include Shadaw_buttom();
  -webkit-backdrop-filter: blur(12px);
  -moz-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  visibility: hidden;
  &.active {
    visibility: visible;
  }
  div.in_haye_alert {
    width: 100%;
    height: 100%;
    z-index: 45;
    @include dynamic-flex(center, center, column, 0px);
    div.alert {
      width: 100%;
      height: 100%;
      background-color: $bg-main;
      border-radius: 5px;
      padding: 15px 0px;
      //background-color: $main-color2;
      div.close {
        @extend %colse_btn;
        background-color: $main-color2;
        i {
          color: $bg-main;
        }
      }

      button {
        @include btn-web(15%);
        height: 35px;
        margin: 10px 0px;
        a {
          @extend %reset-link;
          @include flex-box(column);
          color: $bg-main;
        }
      }
    }

    div.load_qoraal {
      width: 100%;
      height: 100%;
      //background-color: $main-color2;
      @include dynamic-flex(center, center, row, 0px);
      div.load {
        width: 100%;
        @include dynamic-flex(center, center, row, 0px);
        &.Qalad {
          width: 35px;
          i {
            color: $colose_color;
            font-size: 28px;
            margin: 12px 0px;
          }
          img {
            width: 50px;
            height: 50px;
          }
        }
        &.Sax {
          width: 95px;
          i {
            color: $color-Gaar;
            font-size: 22px;
            margin: 12px 0px;
          }
        }
        .sk-chase {
          width: 25px;
          height: 25px;
          position: relative;
          animation: sk-chase 2.5s infinite linear both;
        }

        .sk-chase-dot {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          animation: sk-chase-dot 2s infinite ease-in-out both;
        }

        .sk-chase-dot:before {
          content: "";
          display: block;
          width: 25%;
          height: 25%;
          background-color: $main-color2;
          border-radius: 100%;
          animation: sk-chase-dot-before 2s infinite ease-in-out both;
        }

        .sk-chase-dot:nth-child(1) {
          animation-delay: -1.1s;
        }

        .sk-chase-dot:nth-child(2) {
          animation-delay: -1s;
        }

        .sk-chase-dot:nth-child(3) {
          animation-delay: -0.9s;
        }

        .sk-chase-dot:nth-child(4) {
          animation-delay: -0.8s;
        }

        .sk-chase-dot:nth-child(5) {
          animation-delay: -0.7s;
        }

        .sk-chase-dot:nth-child(6) {
          animation-delay: -0.6s;
        }

        .sk-chase-dot:nth-child(1):before {
          animation-delay: -1.1s;
        }

        .sk-chase-dot:nth-child(2):before {
          animation-delay: -1s;
        }

        .sk-chase-dot:nth-child(3):before {
          animation-delay: -0.9s;
        }

        .sk-chase-dot:nth-child(4):before {
          animation-delay: -0.8s;
        }

        .sk-chase-dot:nth-child(5):before {
          animation-delay: -0.7s;
        }

        .sk-chase-dot:nth-child(6):before {
          animation-delay: -0.6s;
        }

        @keyframes sk-chase {
          100% {
            transform: rotate(360deg);
          }
        }

        @keyframes sk-chase-dot {
          80%,
          100% {
            transform: rotate(360deg);
          }
        }

        @keyframes sk-chase-dot-before {
          50% {
            transform: scale(0.4);
          }

          100%,
          0% {
            transform: scale(1);
          }
        }
      }

      div.qoraal {
        width: 100%;
        @include flex-box(column);
        h2 {
          @include Totile-H(1.2rem, $madaw);
          font-weight: normal;
          &.qalad {
            @include Totile-H(1.2rem, $colose_color);
          }
          &.Sax {
            @include Totile-H(1.2rem, $color-Gaar);
          }
        }
      }
    }
  }
}

// page Projects style  all parts

div.well {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 15px;
  @include linearGradient();

  div.macluumaad {
    width: 100%;
    height: 100%;
    padding: 25px 85px;
    @include dynamic-flex(center, flex-start, column, 15px);

    h2 {
      @include Totile-H(1.4rem, $bg-main);
      font-weight: normal;
    }

    i {
      color: $color-Gaar;
    }

    p {
      @include qoraal-p(19px, $qoraalo-color);
      font-weight: normal;
    }

    div.ashyaa {
      width: 100%;
      height: 100%;
      @include dynamic-flex(flex-start, flex-start, row, 30px);
    }
  }
}

// qaybo donte and froms
div.info {
  &.SKLT {
    overflow: hidden;
  }
}

div.laba_qaybood {
  &.SKLT {
    overflow: hidden;
  }
  width: 100%;
  height: 100%;
  margin: 15px 0px;
  @include dynamic-flex(flex-start, flex-start, row, 20px);

  div.qayb {
    height: 100%;
    padding: 15px 0px;

    i {
      color: $main-color2;
    }

    &.Pyments {
      flex: 3.5;

      div.last_donote {
        width: 100%;
        height: 100%;
        margin: 15px 0px;

        h2 {
          @include Totile-H(1.3rem, $title-color);
          padding: 5px 0px;
          font-weight: normal;
          span {
            color: $color-Gaar;
            font-weight: bold;
          }
        }

        p {
          @include qoraal-p(18px, $color-Gaar);
          font-weight: normal;
        }

        div.tabaruc {
          width: 100%;
          height: 100%;
          padding: 3px 0px;
          border-radius: 5px;
          margin: 18px 0px;
          @include dyshadow(0px, 0px, 5px, 1px);
          @include dynamic-flex(flex-start, center, row, 10px);
          border-left: 2px solid $main-color2;
          border-right: 0px solid $main-color2;

          div.user_img {
            flex: 1;
            height: 80px;
            //background-color: $main-color2;
            @include dynamic-flex(center, center, row, 0px);

            i {
              color: $qoraalo-color;
              font-size: 2rem;
            }
          }

          div.name_amout {
            padding: 10px 25px;
            i {
              color: $color-Gaar;
            }

            h2 {
              @include Totile-H(17px, $madaw);
              font-weight: normal;
              padding: 2px 0px;
            }

            div.info_wind {
              @include dynamic-flex(flex-start, center, row, 15px);
              padding: 2px 0px;

              p {
                @include qoraal-p(17px, $qoraalo-color);
              }
            }
          }
        }
      }
    }

    &.muuqaal {
      flex: 5;

      //height: 400px;
      //background-color: $main-color2;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      div.macluumaad_bidix {
        width: 100%;
        height: 100%;
        padding: 15px 5px;

        //background-color: $main-color2;
        h2 {
          @include Totile-H(1.3rem, $title-color);
          font-weight: normal;
        }

        p {
          @include qoraal-p(18px, $qoraalo-color);
          font-weight: normal;
        }
      }

      div.trakoobyo {
        width: 100%;
        height: 100%;
        padding: 5px 0px;

        //background-color: $main-color;
        div.tiro {
          width: 100%;
          height: 100%;
          @include dynamic-flex(flex-start, center, row, 15px);

          div.lahayo {
            // width: calc(60% / 2);
            //background-color: $main-color2;
            @include dynamic-flex(center, center, row, 5px);

            div.icon {
              flex: 2;
              height: 50px;
              //background-color: $main-color2;
              @include dynamic-flex(center, center, column, 0px);

              img {
                width: 75;
                height: 75%;
              }

              i {
                color: $main-color2;
                font-size: 25px;
              }
            }

            div.qoraal {
              flex: 4;

              h2 {
                @include Totile-H(1.1rem, $title-color);
                font-weight: normal;
                padding: 7px 0px;
              }

              p {
                @include qoraal-p(22px, $qoraalo-color);
                padding: 3px 3px;
              }
            }
          }
        }
      }

      // last donet here is kaan
      div.progress {
        width: 80%;
        height: 15px;
        background-color: $prog_color;
        margin: 15px 0px;
        border-radius: 7px;
        overflow: hidden;

        span {
          height: 100%;
          display: block;
          background-color: $main-color2;
          @include dynamic-flex(center, flex-end, column, 0px);
          color: $bg-main;
          font-size: 13px;
          font-weight: bold;
          border-radius: 7px;

          span {
            width: 35px;
            height: 35px;
            background-color: $main-color2;
            border-radius: 50%;
            position: absolute;
            border: solid 2px $bg-main;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      div.info_fursad {
        width: 80%;
        position: relative;

        div.from_bixin {
          width: 95%;

          form {
            div.pyment_types {
              @include dynamic-flex(flex-start, center, row, 0px);
              // switch

              div.raber_switcher {
                width: 70%;
                margin: 10px 0px;
                @include dynamic-flex(flex-start, center, row, 0px);

                div.input {
                  position: relative;
                  width: 100%;
                  @include dynamic-flex(center, center, row, 0px);
                  overflow: hidden;

                  input {
                    width: 100%;
                    height: 40px;
                    border-radius: 25px;
                    background-color: $btn_gaar;
                    appearance: none;
                    outline: none;
                    position: relative;
                  }

                  label {
                    width: 50%;
                    height: 100%;
                    border-radius: 25px;
                    position: absolute;
                    z-index: 12;
                    overflow: hidden;
                    @include dynamic-flex(center, center, row, 0px);
                    user-select: none;
                    cursor: pointer;

                    span {
                      @include qoraal-p(15px, $qoraalo-color);
                      user-select: none;

                      i {
                        color: $qoraalo-color;
                      }
                    }

                    &.edahab {
                      right: 0;
                      background-color: transparent;
                    }

                    &.zaad {
                      left: 0px;
                      background-color: transparent;
                    }

                    &.active {
                      background-color: $main-color2;
                      color: $bg-main;
                      transition: color all 0.6s ease-in-out;

                      span {
                        color: $bg-main;
                        user-select: none;

                        i {
                          color: $bg-main;
                        }
                      }
                    }
                  }
                }

                span {
                  @include qoraal-p(18px, $madaw);
                  margin: 0px 10px;
                }
              }

              div.Pay {
                width: calc(90% / 2);
                padding: 5px 0px;

                label {
                  @include qoraal-p(18px, $madaw);
                  margin: 0px 10px;

                  i.telesom {
                    color: #179f02;
                  }

                  i.somtel {
                    color: #ffae00;
                  }
                }

                input[type="radio"] {
                  width: 18px;
                  height: 18px;
                }
              }
            }

            div.donter_info {
              width: 100%;
              @include dynamic-flex(center, flex-start, column, 0px);

              div.input_feilds {
                width: 100%;
                position: relative;
                border-radius: 10px;
                @include dynamic-flex(center, flex-start, column, 0px);
                margin: 5px 0px;

                input[type="tel"],
                input[type="text"],
                input[type="number"] {
                  @include reset_form(18px, $madaw, 5px);
                  width: 100%;
                  height: 60px;
                  border-radius: 10px;
                  border: solid 1px #335eea29;
                  //background-color: $prog_color;
                  //border-left: solid 2px $main-color2;
                  //border-right: solid 2px $main-color2;
                  //border-bottom: solid 1px $main-color2;
                  position: relative;
                  padding-left: 75px;
                  overflow: hidden;

                  &:focus {
                    border: solid 1px $main-color2;
                  }

                  &.err {
                    border: solid 1px #e85a02;
                  }

                  &::placeholder {
                    color: #335eea83;
                  }
                }

                > span.Ll {
                  position: absolute;
                  width: 65px;
                  height: 80%;
                  background-color: transparent;
                  border-bottom-left-radius: 10px;
                  border-top-left-radius: 10px;
                  @include dynamic-flex(center, center, column, 0px);
                  @include qoraal-p(18px, $main-color2);
                  z-index: 55;
                }
              }

              button {
                @include btn-web(75%);
                //background-color: $color-Gaar;
                margin: 10px 0px;
                &.manually {
                  background-color: $main-color;
                  a {
                    @extend %reset-link;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: wrap column;
                    color: $bg-main;
                  }
                }
                i {
                  color: $bg-main;
                }

                // &.loadbtn{
                //   cursor: not-allowed;
                //   background-color: $btn_gaar;
                // }
              }
            }
          }
        }
      }
    }
  }
}

div.totalTabaruc {
  &.Over {
    width: 100%;
    height: 100vh;
    background-color: $prog_color;
    z-index: 1000;
    position: fixed;
    @include dynamic-flex(center, center, center, column);
    div.body {
      &.totalTabaruc {
        width: 100%;
        height: 100px;
        background-color: $bg-main;
        border-radius: 5px;
      }
    }
  }
}

// add mashruuc page

div.addPro {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  position: relative;
}

.sk-circle {
  margin: 10px auto;
  width: 30px;
  height: 30px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $bg-main;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// all media  responsive part

@include Break-Points(xsm) {
  .haye {
    max-width: 540px;
  }

  .xajiye {
    max-width: 540px;
  }

  // div.over_alert div.in_haye_alert div.alert{
  //   width: 100%;
  // }

  div.over_alert {
    height: 260px;
  }
  div.laba_qaybood div.qayb.Pyments div.last_donote div.tabaruc div.name_amout {
    padding: 10px 15px;
  }
  div.laba_qaybood
    div.qayb.muuqaal
    div.info_fursad
    div.from_bixin
    form
    div.pyment_types
    div.raber_switcher {
    width: 100%;
  }
  div.laba_qaybood div.qayb.muuqaal div.info_fursad {
    width: 100%;
  }

  div.nav div.links div.action-btn button.nav-btn {
    width: 85%;
  }

  div.nav {
    div.links1 {
      div.link-items {
        &.computer {
          display: none;
        }
      }
    }
  }

  div.nav div.links div.link-items {
    &.computer {
      display: none;
    }
  }

  div.welcome div.labaqaybood div.qayb {
    width: calc(95% / 1);
  }

  section.tirokoobyo div.cards_tirokoob div.card {
    width: calc(80% / 1);
  }

  div.Projects div.qaybha div.qayb {
    width: calc(95% / 1);
  }

  div.Projects div.prog_one div.card_mashruuc {
    width: calc(100% / 1);
  }

  div.about div.war_laba_qaybood div.qayb {
    width: calc(97% / 1);
  }

  div.faq div.suaalo div.labaqayb {
    width: calc(100% / 1);
  }

  div.Counts div.war_laba_qaybood div.qayb {
    width: calc(97% / 1);
  }

  div.over div.login div.llc {
    width: calc(95% / 1);
  }

  div.over div.login div.llc {
    display: none;
  }

  div.over div.login {
    width: 100%;
  }

  div.welcome div.labaqaybood div.qayb.qorall h2 {
    font-size: 2rem;
  }

  div.welcome div.labaqaybood div.qayb.qorall div.btn-welc {
    flex-flow: wrap column;
  }

  div.welcome div.labaqaybood div.qayb.qorall div.btn-welc button {
    width: 90%;
    margin: 15px 0px;
  }

  div.faq div.suaalo div.btn_start button {
    width: 80%;
  }

  div.about div.war_laba_qaybood div.qayb.bidix div.bidix_decr h2 {
    font-size: 2rem;
  }

  div.slide {
    &.computer {
      display: none;
    }
  }

  div.Counts div.war_laba_qaybood div.qayb.bidix div.bidix_decr h2 {
    font-size: 2rem;
  }
  div.faq div.suaalo div.btn_start div.qoraalo_btn_start p {
    padding: 5px 5px;
    font-size: 20px;
  }

  div.video_overvallow.active div.video {
    width: 100%;
  }

  div.video_overvallow.active div.video div.video_content {
    width: 100%;
    height: 90%;
  }

  div.well div.macluumaad {
    padding: 25px 5px;
  }

  div.laba_qaybood {
    flex-flow: wrap column;
  }

  div.laba_qaybood div.qayb.muuqaal {
    width: 100%;
  }

  div.nav div.links div.action-btn {
    &.Computer {
      display: none;
    }
  }
  div.nav div.links {
    div.Mobilee {
      display: flex;
    }
  }

  div.ayad div.nas_ayad {
    img {
      width: 95%;
    }
  }
}
@include Break-Points(sm) {
  .haye {
    max-width: 540px;
  }
  .xajiye {
    max-width: 540px;
  }
  div.over_alert {
    height: 255px;
  }
  div.ayad div.nas_ayad {
    img {
      width: 95%;
    }
  }
  div.laba_qaybood
    div.qayb.muuqaal
    div.info_fursad
    div.from_bixin
    form
    div.pyment_types
    div.raber_switcher {
    width: 90%;
  }
  div.laba_qaybood div.qayb.Pyments div.last_donote div.tabaruc div.name_amout {
    padding: 10px 15px;
  }

  div.laba_qaybood div.qayb.muuqaal div.info_fursad {
    width: 100%;
  }
  div.laba_qaybood div.qayb.muuqaal div.progress {
    width: 100%;
  }
  div.nav {
    div.links1 {
      div.link-items {
        &.computer {
          display: none;
        }
      }
    }
  }

  div.over_alert div.in_haye_alert div.alert {
    width: 100%;
  }

  div.slide {
    &.computer {
      display: none;
    }
  }

  div.nav div.links div.link-items {
    &.computer {
      display: none;
    }
  }

  div.welcome div.labaqaybood div.qayb {
    width: calc(85% / 1);
  }

  section.tirokoobyo div.cards_tirokoob div.card {
    width: calc(80% / 1);
  }

  div.Projects div.qaybha div.qayb {
    width: calc(75% / 2);
  }

  div.Projects div.prog_one div.card_mashruuc {
    width: calc(75% / 1);
  }

  div.about div.war_laba_qaybood div.qayb {
    width: calc(97% / 1);
  }

  div.Counts div.war_laba_qaybood div.qayb {
    width: calc(97% / 1);
  }

  div.over div.login div.llc {
    width: calc(95% / 1);
  }

  div.over div.login div.llc {
    display: none;
  }

  div.laba_qaybood {
    flex-flow: wrap column;
  }
  div.laba_qaybood div.qayb.muuqaal {
    width: 100%;
  }

  div.nav div.links div.action-btn {
    &.Computer {
      display: none;
    }
  }

  div.nav div.links {
    div.Mobilee {
      display: flex;
    }
  }
}
@include Break-Points(md) {
  .haye {
    max-width: 720px;
  }

  .xajiye {
    max-width: 700px;
  }

  // div.over_alert div.in_haye_alert div.alert {
  //   width: 85%;
  // }

  div.ayad div.nas_ayad {
    img {
      width: 60%;
    }
  }

  div.nav {
    div.links1 {
      div.link-items {
        display: none;
      }
    }
  }

  div.nav div.links div.link-items {
    &.computer {
      display: none;
    }
  }

  div.nav div.links div.action-btn {
    &.Computer {
      display: none;
    }
  }
  div.nav div.links {
    div.Mobilee {
      display: flex;
    }
  }

  div.welcome div.labaqaybood div.qayb {
    width: calc(85% / 1);
  }

  section.tirokoobyo div.cards_tirokoob div.card {
    width: calc(90% / 2);
  }

  div.Projects div.qaybha div.qayb {
    width: calc(90% / 3);
  }

  div.Projects div.prog_one div.card_mashruuc {
    width: calc(95% / 2);
  }

  div.about div.war_laba_qaybood div.qayb {
    width: calc(97% / 1);
  }

  div.Counts div.war_laba_qaybood div.qayb {
    width: calc(97% / 1);
  }

  div.over div.login div.llc {
    width: calc(95% / 1);
  }

  div.over div.login div.llc {
    display: none;
  }

  div.slide {
    &.Mobile {
      display: none;
    }
  }

  div.laba_qaybood {
    flex-flow: wrap column;
  }

  div.laba_qaybood div.qayb.muuqaal {
    width: 100%;
  }
}
@include Break-Points(lg) {
  .haye {
    max-width: 960px;
  }

  .xajiye {
    max-width: 1100px;
  }

  // div.over_alert div.in_haye_alert div.alert {
  //   width: 60%;
  // }

  div.slide {
    &.Mobilee {
      display: none;
    }
  }
}
@include Break-Points(xlg) {
  .haye {
    max-width: 1140px;
  }

  .xajiye {
    max-width: 1300px;
  }

  // div.over_alert div.in_haye_alert div.alert {
  //   width: 50%;
  // }

  div.slide {
    &.Mobile {
      display: none;
    }
  }
}
@include Break-Points(xxlg) {
  .xajiye,
  .haye {
    max-width: 1320px;
  }
}
